.first_section {
  padding: 20px 0 40px 0;
  background-color: $main_color;

  .fs_1 {
    position: relative;

    img {
      max-width: 100%;
    }

    .fs_1__title {
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 46px;
      font-family: "WindSong", cursive;
      font-weight: 500;
      font-style: normal;
      padding: 15px;
      position: absolute;
      bottom: 145px;
      left: 0;
      color: white;
      max-width: 50%;
    }
  }
}

@media screen and (min-width: 1920px) {
  .first_section {
    .fs_1 {
      .fs_1__title {
        font-size: 42px;
        padding: 15px;
        position: absolute;
        bottom: 165px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first_section {
    .fs_1 {
      .fs_1__title {
        font-size: 34px;
        padding: 15px;
        position: absolute;
        bottom: 105px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first_section {

    .fs_1 {
      width: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 180%;
        max-width: none;
        object-position: center;
        transform: translateX(-22%);
        object-fit: cover;
      }

      .fs_1__title {
        font-size: 39px;
        bottom: 75px;
        max-width: 70%;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .first_section {

    .fs_1 {
      width: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 190%;
        max-width: none;
        object-position: center;
        transform: translateX(-25%);
        object-fit: cover;
      }

      .fs_1__title {
        font-size: 30px;
        bottom: 75px;
        max-width: 70%;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .first_section {

    .fs_1 {
      width: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 190%;
        max-width: none;
        object-position: center;
        transform: translateX(-25%);
        object-fit: cover;
      }

      .fs_1__title {
        font-size: 23px;
        bottom: 65px;
        max-width: 80%;
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .first_section {

    .fs_1 {
      width: 100%;
      overflow: hidden;

      img {
        display: block;
        width: 190%;
        max-width: none;
        object-position: center;
        transform: translateX(-25%);
        object-fit: cover;
      }

      .fs_1__title {
        font-size: 23px;
        bottom: 55px;
        max-width: 80%;
      }
    }
  }
}