header {
  background-color: $main_color;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border-bottom: 2px solid black;

    div > img {
      max-width: 50px;
    }

    h1 {
      font-family: "WindSong", cursive;
      font-weight: 500;
      font-style: normal;
      font-size: 38px;
      padding: 0 15px;
      border: 1px solid black;
      max-width: 100%;
    }

    a {
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }

    & > * {
      min-width: 200px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {

    .header {

      h1 {
        font-size: 30px;
      }
    }
  }
}