header {
  background-color: $main_color;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border-bottom: 2px solid black;

    div > img {
      max-width: 50px;
    }

    h1 {
      font-family: "WindSong", cursive;
      font-weight: 500;
      font-style: normal;
      font-size: 38px;
      padding: 0 15px;
      border: 1px solid black;
      display: flex;
    }

    a {
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }

    & > * {
      min-width: 200px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {

    .header {

      h1 {
        font-size: 30px;
        max-width: 150px;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  header {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 70px;
        flex-shrink: 0; // логотип не сжимается
      }

      h1 {
        flex: 1 1 auto;     // растягивается, но сжимается при нехватке места
        text-align: center;
        font-size: 26px;
        padding: 0 5px;
        margin: 0;
        width: auto;        // убираем фиксированную ширину!
        min-width: 100px;   // можно задать минимум, если нужно
      }

      a {
        flex-shrink: 0;     // не сжимается
        text-align: right;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & > * {
      min-width: unset;
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 594px) {
  header {
    .header {

      div {
        display: none;
      }

      h1 {
        display: block;
        font-size: 29px;
        margin: 0 auto;
      }

      a {
        display: none;
      }
    }

    & > * {
      min-width: unset;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  header {
    .header {

      div {
        display: none;
      }

      h1 {
        display: block;
        font-size: 25px;
        margin: 0 auto;
      }

      a {
        display: none;
      }
    }

    & > * {
      min-width: unset;
    }
  }
}