.sixth_section {
  padding: 40px 0;

  .container {

    .sis_container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sis_p1 {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h5 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        div {
          display: flex;
          align-items: center;
          gap: 15px;

          img {
            max-width: 25px;
          }

          a {
            color: black;
          }
        }
      }

      .sis_p2 {

        img {
          max-width: 700px;
          mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
          -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sixth_section {

    .container {

      .sis_container {

        .sis_p2 {

          img {
            max-width: 550px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .sixth_section {

    .container {

      .sis_container {

        .sis_p1 {

          h5 {
            font-size: 18px;
          }
        }

        .sis_p2 {

          img {
            max-width: 550px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .sixth_section {

    .container {

      .sis_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .sis_p1 {

          h5 {
            font-size: 16px;
            margin-bottom: 5px;
          }
        }

        .sis_p2 {

          img {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .sixth_section {

    .container {

      .sis_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .sis_p1 {

          h5 {
            font-size: 16px;
            margin-bottom: 5px;
          }
        }

        .sis_p2 {

          img {
            max-width: 370px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 379px) {
  .sixth_section {

    .container {

      .sis_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .sis_p1 {

          h5 {
            font-size: 16px;
            margin-bottom: 5px;
          }
        }

        .sis_p2 {

          img {
            max-width: 310px;
          }
        }
      }
    }
  }
}